<div id="content">

    <span class="slide">
        <a href="#">
            <i id="burger" class="fas fa-bars"></i>
        </a>
    </span>

    <div id="menu" class="nav">
        <a href="#" class="close">
            <i class="fas fa-times"></i>
        </a>

        <div class="container-one">
            <a href="/dashboard" title="dashboard">
                <i class="fas fa-chart-pie"></i>
            </a>
            <a href="/account-management" title="clients">
                <i class="fas fa-address-book"></i>
            </a>
            <a href="#" title="email">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="#" title="add client">
                <i class="fas fa-user-edit"></i>
            </a>
        </div>

        <div class="container-two">
            <a href="#" title="profil">
                <i class="fas fa-user"></i>
            </a>
            <a href="#" title="settings">
                <i class="fas fa-cog"></i>
            </a>
            <a href="/logout" title="logout">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>

    </div>