<div id="content">
    <div id="menu" class="nav">
        <div><img width="50x" src="{{currentCompany.logo}}" alt="{{currentCompany.name}}"></div>

        <div class="container-one">
            <a href="/dashboard" title="dashboard">
                <i class="fas fa-chart-pie"></i>
            </a>
            <a href="/account-management" title="clients">
                <i class="fas fa-address-book"></i>
            </a>
            <a href="#" title="email">
                <i class="fas fa-envelope"></i>
            </a>
            <a href="#" title="add client">
                <i class="fas fa-user-edit"></i>
            </a>
        </div>

        <div class="container-two">
            <a href="#" title="profile">
                <i class="fas fa-user"></i>
            </a>
            <a href="/dashboard/settings" title="settings">
                <i class="fas fa-cog"></i>
            </a>
            <a href="/logout" title="logout">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>

    </div>