<footer>
    <div>
        <div id="logo-footer">
            <img src="media/images/logo.png" alt="logo brelio">
            <h3>brelio</h3>
        </div>
        <p>© Brelio, 34 rue des Archives<br>
            75003 Paris</p>
    </div> 
    <div id="menu-container">
    <div class="menu">
        <h4>Products</h4>
        <a href="#">Book a virtual demo tour</a>
        <a href="#">Customisation</a>
        <a href="#">Features</a>
        <a href="#">Manage your team</a>
    </div>
    <div class="menu">
        <h4>Prices</h4>
        <a href="#">Our different plans</a>
        <a href="#">Free trial</a>
        <a href="#">How do I sign up?</a>
    </div>
    <div class="menu">
        <h4>About us</h4>
        <a href="#">Our story</a>
        <a href="#">Want to join us?</a>
        <a href="#">Our team</a>
        <a href="#">Terms and conditions</a>
        <a href="#">Privacy policy</a>
    </div>
    </div>
</footer>