  <nav id="landing-nav">
    <img src="media/images/logo.png" alt="logo Brelio">
    <p>brelio</p>
    <div id="categories">
      <a href="#">Products</a>
      <a href="#">Prices</a>
      <a href="#">About us</a>
    </div>
    <div>
      <a href="#"><button>Sign up</button></a>
      <a href="#"><button>Log in</button></a>
    </div>
  </nav>