<nav id="landing-nav">
  <div id="logo-div">
    <a href="/"><img src="media/images/logo.png" alt="logo Brelio">
    <p>brelio</p></a>
  </div>
  <div id="landing-nav-links">
    <a href="/products">Products</a>
    <a href="/prices">Prices</a>
    <a href="/about">About us</a>
  </div>
  <div class="sign-links">
    <a href="/signin">Log in</a>
    <a href="/signup">Sign up</a>
  </div>
</nav>