<nav id="landing-nav">
  <div id="logo-div">
    <img src="media/images/logo.png" alt="logo Brelio">
    <p>brelio</p>
  </div>
  <div id="landing-nav-links">
    <a href="#">Products</a>
    <a href="#">Prices</a>
    <a href="#">About us</a>
  </div>
  <div class="sign-links">
    <a href="/signin">Log in</a>
    <a href="/signup">Sign up</a>
  </div>
</nav>