<form id="searchbar" method="get" action="/account-management/search" class="form">
    <input class="input" type="text" placeholder="search" name="search">
    <button class="btn">
        <i class="fa fa-search"></i>
    </button>
</form>