<form class="search-container" method="get" action="/account-management/search">
    <div>
        <input class="search" type="text" placeholder="search" name="search">
    </div>

    <div>
        <button class="btn-search">
            <i class="fa fa-search"></i>
        </button>
    </div>

</form>