{{> landing_nav}}

<div id="container-about">
    <div id="gallery-wrapper">

        <ul class="gallery">

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/victorien.jpeg" alt="charlotte">
                <div class="item-about">
                    <h1>Victorien Provenzano</h1>
                    <h4>CEO</h4>
                    <a href="https://github.com/vicpzn">Github</a> ı
                    <a href="https://www.linkedin.com/in/victorienprovenzano/">Linkedin</a>
                </div>
            </li>

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/charlotte.jpeg" alt="charlotte">
                <div class="item-about">
                    <h1>Charlotte Oury</h1>
                    <h4>CTO</h4>
                    <a href="https://github.com/charlotte-on">Github</a> ı
                    <a href="https://www.linkedin.com/in/charlotte-oury-8866621a3/">Linkedin</a>
                </div>
            </li>

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/calypso.jpeg" alt="calypso">
                <div class="item-about">
                    <h1>Calypso Asline</h1>
                    <h4>CEA</h4>
                    <a href="https://github.com/Calyaln">Github</a> ı
                    <a href="https://www.linkedin.com/in/calypso-asline-3b616b78/">Linkedin</a>
                </div>
            </li>

        </ul>

    </div>
</div>

{{> footer}}