{{> landing_nav}}

<div>
    <h1 id="intro">Our team</h1>
</div>

<div id="container-about">
    <div id="gallery-wrapper">

        <ul class="gallery">

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/victorien.jpeg" alt="charlotte">
                <div class="item-about">
                    <h2>Victorien Provenzano</h2>
                    <h4>CEO</h4>
                    <div>
                        <a href="https://github.com/vicpzn"><i class="fab fa-github"></i></a> |
                        <a href="https://www.linkedin.com/in/victorienprovenzano/"><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/charlotte.jpeg" alt="charlotte">
                <div class="item-about">
                    <h2>Charlotte Oury</h2>
                    <h4>CTO</h4>
                    <div>
                        <a href="https://github.com/charlotte-on"><i class="fab fa-github"></i></a> |
                        <a href="https://www.linkedin.com/in/charlotte-oury-8866621a3/"><i
                                class="fab fa-linkedin"></i></a>
                    </div>

                </div>
            </li>

            <li class="gallery-item">
                <img class="gallery-img" src="media/images/calypso.jpeg" alt="calypso">
                <div class="item-about">
                    <h2>Calypso Asline</h2>
                    <h4>CEA</h4>
                    <div>
                        <a href="https://github.com/Calyaln"><i class="fab fa-github"></i></a> |
                        <a href="https://www.linkedin.com/in/calypso-asline-3b616b78/"><i
                                class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </li>

        </ul>

    </div>
</div>

{{> footer}}