{{> landing_nav}}

<div id="container-about">
    <div class="item-about">
        <div class="image"><img src="media/images/victorien.jpeg" alt="charlotte"></div>
        <h1>Victorien Provenzano</h1>
        <a href="https://github.com/vicpzn">Github</a>
        <a href="https://www.linkedin.com/in/victorienprovenzano/">Linkedin</a>
    </div>

    <div class="item-about">
        <div class="image"><img src="media/images/charlotte.jpg" alt="charlotte"></div>
        <h1>Charlotte Oury</h1>
        <a href="https://github.com/charlotte-on">Github</a>
        <a href="https://www.linkedin.com/in/charlotte-oury-8866621a3/">Linkedin</a>
    </div>

    <div class="item-about">
        <div class="image"><img src="media/images/calypso.jpeg" alt="calypso"></div>
        <h1>Calypso Asline</h1>
        <a href="https://github.com/Calyaln">Github</a>
        <a href="https://www.linkedin.com/in/calypso-asline-3b616b78/">Linkedin</a>
    </div>
</div>

{{> footer}}