<h1>Create a new user</h1>

<form method="post" action="/users/create" enctype="multipart/form-data">
    <div id="wrapper-sign-up">
        <input name="firstname" id="firstname" type="text" class="input" placeholder="First Name" required>
        <input name="lastname" id="lastname" type="text" class="input" placeholder="Last Name" required>
        <input name="email" id="email" type="email" class="input" placeholder="joe@company.com" required>
        <input name="phonenumber" id="phonenumber" type="tel" class="input" placeholder="Phone Number" required>
        <input name="company" id="company" type="text" class="input" placeholder="Company" required>
        <input name="password" id="password" type="password" class="input" placeholder="Password" required>
        <select name="role">
            <option value="user">User</option>
        </select>
        <input type="file" name="avatar">
    </div>
    <button id="btn-sign-up">Create a new user</button>
</form>