{{> landing_nav}}
<section id="presentation">
    <div id="description">
        <h1>Efficiency at its finest</h1>
        <p>
            Our CRM will help you and your sales<br>
            team to be as efficient as possible.<br>
            The solution we offer is completely<br>
            customisable and scalable.<br>
        </p>
        <a href="/signup">Register here for a 14 days free trial</a>
    </div>
    <div id="crm-img"><img src="media/images/crm.png" alt="CRM"></div>
</section>

<section id="trust">
    <h2>They trust us</h2>
    <div id="clients">
        <img src="media/images/clients/airbnb-logo-black-transparent.png" alt="logo AirBnb">
        <img src="media/images/clients/loreal-paris-vector-logo.png" alt="logo L'Oréal">
        <img src="media/images/clients/Deliveroo-Logo-300x200.png" alt="logo Deliveroo">
        <img src="media/images/clients/decathlon-1-logo.png" alt="logo Decathlon">
    </div>
</section>

<footer>
    <div>
        <img src="media/images/logo.png" alt="logo brelio">
        <h3>brelio</h3>
        <p>© Brelio, 34 rue des Archives<br>
            75003 Paris</p>
    </div>
    <div class="menu">
        <h4>Products</h4>
        <a href="#">Book a virtual demo tour</a>
        <a href="#">Customisation</a>
        <a href="#">Features</a>
        <a href="#">Manage your team</a>
    </div>
    <div class="menu">
        <h4>Prices</h4>
        <a href="#">Our different plans</a>
        <a href="#" Free trial></a>
        <a href="#">How do I sign up?</a>
    </div>
    <div class="menu">
        <h4>About us</h4>
        <a href="#">Our story</a>
        <a href="#">Want to join us?</a>
        <a href="#">Our team</a>
        <a href="#">Terms and conditions</a>
        <a href="#">Privacy policy</a>
    </div>
</footer>