{{> landing_nav}}

<section id="presentation">
    <div id="description">
    <img src="media/images/logo.png" alt="logo brelio"><h1>Efficiency at its finest</h1>
    <p>
    Our CRM will help you and your sales<br>
    team to be as efficient as possible.<br>
    The solution we offer is completely<br>
    customisable and scalable.<br>
    </p>
    <a href="#"><button>Register here for a 14 days free trial</button></a>
</div>
<img src="media/images/crm.png" alt="CRM">
</section>

<section>
    <h2>They trust us</h2>
    <div id="clients">
        <img src="media/images/clients/airbnb-logo-black-transparent.png" alt="logo AirBnb">
        <img src="media/images/clients/loreal-paris-vector-logo.png" alt="logo L'Oréal">
        <img src="media/images/clients/Deliveroo-Logo-300x200.png" alt="logo Deliveroo">
        <img src="media/images/clients/decathlon-1-logo.png" alt="logo Decathlon">
    </div>
</section>

<footer>
    <div>
        <img src="media/images/logo.png" alt="logo brelio"><h3>Brelio</h3>
        <p>© Brelio, 34 rue des Archives<br>
        75003 Paris</p>
    </div>
    <div class="menu"></div>*3
</footer>