<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<header>
  <nav id="navbar">
    <p>The Superstore</p>
    <div id="sign-links">
      <a href="/signin">Sign In</a>
      <a href="/signup">Sign Up</a>
    </div>
  </nav>
</header>

<body>
  {{{body}}}
</body>

</html>