<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="icon" type="image/png" href="/media/images/logo.png" />
</head>

<body>
  {{> crm_nav}}
  {{{body}}}
</body>

</html>