<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>brelio - {{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <link rel="icon" type="image/png" href="/media/images/logo.png" />
  <script src="/js/script.js" type="module"></script>
  {{#if script}}<script src="/js/{{script}}" type="module"></script>{{/if}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.0/axios.min.js"></script>
</head>

<body>
  {{{body}}}
</body>

</html>