{{> burger_menu}}
{{> current_user}}

<div id="master-div-prospect">
    <h1 class="title-register">Create a new prospect</h1>
    <div id="prospect-add-box">
        <form id="account-add" method="post" action="/account-management/add">

            <div class="container-register">

                <div class="item-register">
                    <input name="firstname" type="text" placeholder="First Name" required>
                </div>

                <div class="item-register">
                    <input name="lastname" type="text" placeholder="Last Name" required>
                </div>

                <div class="item-register">
                    <input name="email" type="email" placeholder="john@brelio.com" required>
                </div>

                <div class="item-register">
                    <input name="phonenumber" type="tel" placeholder="Phone Number" required>
                </div>

                <div class="item-register">
                    <input name="company" type="text" placeholder="Company" required>
                </div>

                <div class="item-register">
                    <input name="streetnumber" type="text" placeholder="Street Number" required>
                </div>

                <div class="item-register">
                    <input name="street" type="text" placeholder="Street" required>
                </div>

                <div class="item-register">
                    <input name="zipcode" type="text" placeholder="Zipcode" required>
                </div>

                <div class="item-register">
                    <input name="city" type="text" placeholder="City" required>
                </div>

                <div class="item-register">
                    <input name="country" type="text" placeholder="Country" required>
                </div>
            </div>
            <div>
                <button class="btn-register">Create a new prospect</button>
            </div>
        </form>
    </div>
</div>