{{> landing_nav}}

<div id="intro">
    <div>
        <h1>Building great customer relationships is just a step away</h1>
    </div>

    <div>
        <a class="btn" href="/signup">Register here for a 14 days free trial</a>
    </div>
</div>

<div id="container">
    <div class="item">
        <h1>Standard</h1>
        <h1>12€</h1>
        <p>par mois</p>
        <ul>
            <li>Scoring Rules</li>
            <li>Workflows</li>
            <li>Multiple Pipelines</li>
            <li>Mass Email</li>
            <li>Custom Dashboards</li>
        </ul>
    </div>

    <div class="item">
        <h1>Professional</h1>
        <h1>20€</h1>
        <p>par mois</p>
        <ul>
            <li>SalesSignals</li>
            <li>Blueprint</li>
            <li>Web-to-Case Forms</li>
            <li>Validation Rules</li>
            <li>Inventory Management</li>
        </ul>
    </div>

    <div class="item">
        <h1>Entreprise</h1>
        <h1>35€</h1>
        <p>par mois</p>
        <ul>
            <li>Zia AI</li>
            <li>CommandCenter</li>
            <li>Canvas</li>
            <li>Multi-user Portals</li>
            <li>Advanced Customization</li>
        </ul>
    </div>
</div>

{{> footer}}