{{> landing_nav}}

<div id="intro">
    <div>
        <h1>Delight your customers and win them for life</h1>
    </div>
    <div>
        <p>Looking for Omnichannel, Bots, and Self-service solutions for customer service? We've got you covered!</p>

    </div>
</div>

<div id="container">
    <div class="small-container">
        <div class="item">
            <h1>CRM</h1>
            <p>The complete CRM platform</p>
        </div>

        <div class="item">
            <h1>SaleIQ</h1>
            <p>Convert website visitors into customers</p>
        </div>
    </div>

    <div class="small-container">
        <div class="item">
            <h1>Bigin</h1>
            <p>Pipeline-centric CRM for wmall businesses</p>
        </div>

        <div class="item">
            <h1>Booking</h1>
            <p>Find the perfect time with your customers</p>
        </div>
    </div>
</div>

{{> footer}}