{{> landing_nav}}

{{!-- {{#if msg}}
<p class="message {{msg.status}}">{{msg.text}}</p>
{{/if}} --}}

<form method="post" action="/signup" id="form_user">
    <div class="wrapper">
        <input name="firstname" id="firstname" type="text" class="input" placeholder="Name" required>
    </div>
    <div class="wrapper">
        <input name="lastname" id="lastname" type="text" class="input" placeholder="Last name" required>
    </div>
    <div class="wrapper">
        <input name="email" id="email" type="email" class="input" placeholder="Email" required>
    </div>
    <div class="wrapper">
        <input name="phonenumber" id="phonenumber" type="tel" class="input" placeholder="Phone number" required>
    </div>
    <div class="wrapper">
        <input name="company" id="company" type="text" class="input" placeholder="Company" required>
    </div>
    <div class="wrapper">
        <input name="password" id="password" type="password" class="input" placeholder="Password" required>
    </div>
    <button class="btn">Sign up</button>
</form>
<p class="link">Already registered? Click <a href="/signin" class="btn">here</a></p>
</section>