table#account-table th,
table#account-table td {
  text-align: center;
}

.fa-eye,
.fa-trash,
.fa-plus {
  text-decoration: none;
  color: var(--purple);
}

#container-account-management {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#account-table {
  width: 65vw;
}

#account-table tbody tr:nth-child(even),
#account-table th {
  background-color: #5d81ed33;
  border-collapse: collapse;
}
/* search bar */
.search-container {
  display: flex;
}

.search {
  width: 200px;
  height: 30px;
  padding: 0 20px;
  border: 1px solid #d0cfce;
  border-right: none;
  outline: none;
}

.btn-search {
  height: 30px;
  padding: 0 10px;
  border: 1px solid #d0cfce;
  outline: none;
  border-left: none;
  background: white;
}

.fa {
  color: var(--softgrey);
}
