#menu {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--lavender);
}

.nav img {
  margin-top: 10px;
}

.nav a {
  display: block;
  padding: 20px 0px;
  color: white;
  font-size: 30px;
}

.nav a:hover {
  color: rgb(179, 179, 179);
  transform: scale(1.1);
  transition: transform 0.2s;
}

#content {
  padding: 10px 20px;
  margin-left: 80px;
}

.container-one,
.container-two {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
