#client-page {
  padding-top: 70px;
}

.fas {
  cursor: pointer;
}

.fa-pencil-alt {
  color: var(--purple);
}

.fa-check {
  color: rgb(96, 224, 171);
}

.fa-times {
  color: rgb(240, 113, 124);
}

#client-page {
  display: flex;
  flex-wrap: wrap;
}

#client-infos {
  width: 35vw;
  height: 35vh;
}
