/* Dashboard page style */
#wrapper-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#avatar {
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

#div-user-dashboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#div-user-dashboard h1 {
  font-size: 20px;
}

/* Register company style */
#master-div-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form-register {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#company-add-box {
  width: 400px;
  border-radius: 5px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

.title-register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.container-register {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#wrapper-edit-admin {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#wrapper-edit-admin input,
#wrapper-edit-admin select,
.container-register.edit input,
.container-register.edit select,
select {
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

#logo-div-box,
#avatar-div-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
}

.container-edit {
  padding: 5vh 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-edit div {
  margin-bottom: 10px;
}

#quick-add .fa-plus {
  color: white;
}

.container-company input {
  padding: 10vh 0 5vh;
  margin: 40px;
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

#account-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.center-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

#prospect-add-box {
  width: 400px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}

#master-div-prospect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#master-div-prospect h1 {
  margin-bottom: 30px;
}

.item-register input {
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

/* upload button */
.custom-file-input {
  color: transparent;
  width: 167px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  width: 165px;
  height: 35px;
  content: "Select a logo";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background: var(--purple);
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-input:hover::before {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
}

.custom-file-input:active::before {
  background: var(--softgrey);
}

.custom-file-input-avatar {
  color: transparent;
  width: 167px;
}

.custom-file-input-avatar::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input-avatar::before {
  width: 165px;
  height: 35px;
  content: "Select a picture";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  background: var(--purple);
  border-radius: 5px;
  cursor: pointer;
}

.custom-file-input-avatar:hover::before {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
}

.custom-file-input-avatar:active::before {
  background: var(--softgrey);
}

/* save button */
.btn-register {
  width: 250px;
  height: 45px;
  background: var(--purple);
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin: 10px 0;
}

.btn-register:hover {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
  cursor: pointer;
}

#table-dashboard {
  text-align: center;
}
