/* Dashboard page style */
#wrapper-dashboard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#avatar {
  width: 50px;
  border-radius: 50%;
  margin: 0 20px;
}

#div-user-dashboard {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#div-user-dashboard h1 {
  font-size: 20px;
}

/* Register company style */
.title-register {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}

.container-register {
  padding: 10vh 0 5vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.container-edit {
  padding: 10vh 0 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container-edit div {
  margin-bottom: 10px;
}

#quick-add .fa-plus {
  color: white;
}

.container-company input {
  width: 40vw;
  padding: 10vh 0 5vh;
  margin: 40px;
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

#account-add {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#prospect-add-box {
  width: 400px;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#master-div-prospect {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#master-div-prospect h1 {
  margin-bottom: 30px;
}

.item-register input {
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

/* upload button */
.custom-file-input {
  color: transparent;
  width: 100px;
}
.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: "Select file";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--softgrey);
  border: 1px solid var(--purple);
  border-radius: 5px;
  padding: 5px 8px;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: var(--puple);
}

.custom-file-input:active::before {
  background: var(--softgrey);
}

/* save button */
.btn-register {
  width: 250px;
  height: 45px;
  background: var(--purple);
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  margin-bottom: 10px;
}

.btn-register:hover {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
  cursor: pointer;
}

#table-dashboard {
  text-align: center;
}
