#landing-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
}

#landing-nav img,
footer img {
  height: 60px;
}

#landing-nav * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-div p {
  font-size: 40px;
}

#landing-nav-links a {
  margin: 10px;
  text-decoration: none;
  color: var(--grey);
}

.sign-links {
  margin-right: 10px;
}

.sign-links a {
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border: 2px solid var(--purple);
  margin-left: 5px;
}

.sign-links a:nth-child(1) {
  color: var(--purple);
  background: white;
}

.sign-links a:nth-child(2) {
  color: white;
  background: var(--purple);
}

#presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#presentation h1 {
  margin-bottom: 10px;
}

#description a {
  border-radius: 5px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background: var(--purple);
  text-transform: uppercase;
  border: 2px solid var(--purple);
  display: inline-block;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#description,
#crm-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#crm-img img {
  border-radius: 5%;
}

#description {
  margin-left: 20px;
}

#trust {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#trust h2 {
  font-size: 30px;
  margin-bottom: 50px;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
  height: 15vh;
  opacity: 0.5;
  margin: 0px 10px;
}

#clients img:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(180deg, #ffffff 0%, #647dec 100%), #00c3fd;
}

footer a {
  text-decoration: none;
  color: var(--grey);
  margin-top: 10px;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* About page styling */
#container {
  width: 100%;
  height: auto;
}

#gallery-wrapper {
width: 100%;
max-width: 340px;
margin: 0 auto;
height: auto;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery-item:not(:last-of-type) {
margin-bottom: 40px;
}

.gallery-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);

}

.item-about {
  margin: 0;
  padding: 8px;
  background: var(--lavender);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.item-about a {
  text-decoration: none;
  color: white;
}

/* responsive styles for the about page */
@media screen and (min-width: 769px) {

#gallery-wrapper {
  max-width: 1240px;
}

.gallery {
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
}

.gallery-item {
  padding: 20px;
}

.gallery-img {
  min-width: 350px;
  max-width: 350px;
}
}

/* Prices page styling */
.card_content h2 {
  line-height: 2;
  color: var(--lavender);
}

.card_content p {
  font-size: 0.875em;
  color: var(--grey);
}

.card_image img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.cards_item {
  display: flex;
  margin-top: 0;
  padding: 0 1em 2em;

/* > 640px, 2 items/row
    @media screen and (min-width: 42em) and ( max-width: 60em ) {
      width: 50%;
      .no-flexbox &:nth-child(2n+1) { clear: both; }
    }

/* > 960px, 3 items/row */
    @media screen and (min-width: 60em) {
      width: 33.3333%;
      .no-flexbox &:nth-child(3n+1) { clear: both; }
    }
  }

.card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
}

.card_image {
    width: 100%;
    border-radius: 5px;
}

.card_content {
  display: flex;
   flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
}

.card_content ul {
  line-height: 3;
}

/* Products & Prices page styling */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
}

#intro div {
  margin: 20px;
}

.btn-price {
  width: 360px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: white;
    background: var(--purple);
    text-transform: uppercase;
    border: 2px solid var(--purple);
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    display: inline-block;

}

#container {
  display: flex;
  justify-content: space-around;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 2px solid var(--purple);
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.item h1 {
  color: var(--lavender);
}

.item ul {
  padding: 50px;
}

.small-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 120px;
  border: 2px solid var(--purple);
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}