#landing-nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 70px;
  -webkit-box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 5px 15px -10px rgba(0, 0, 0, 0.75);
}

#logo-div p {
  position: relative;
  font-weight: 600;
  font-size: 2vw;
}

#landing-nav img,
footer img {
  height: 45px;
}

#landing-nav img {
  margin-left: 3vw;
}

#landing-nav * {
  display: flex;
  justify-content: center;
  align-items: center;
}

#landing-nav-links {
  position: absolute;
  left: 15vw;
}

#landing-nav-links a {
  margin: 10px 15px;
  font-size: 1.5vw;
  text-decoration: none;
  color: var(--grey);
}

.sign-links {
  margin-right: 3vw;
}

.sign-links a {
  border-radius: 5px;
  padding: 7px 20px;
  text-decoration: none;
  color: white;
  font-size: 1.2vw;
  text-transform: uppercase;
  border: 2px solid var(--purple);
  margin-left: 2vw;
}

.sign-links a:nth-child(1) {
  color: var(--purple);
  background: white;
}

.sign-links a:nth-child(2) {
  color: white;
  background: var(--purple);
}

#presentation {
  display: flex;
  align-items: center;
  height: 60vh;
  margin: 0 10%;
}

#presentation h1 {
  margin-bottom: 5vh;
  font-size: 3vw;
}

#description a {
  margin-top: 5vh;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.3vw;
  text-decoration: none;
  color: white;
  background: var(--purple);
  text-transform: uppercase;
  border: 2px solid var(--purple);
  display: inline-block;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#description,
#crm-img {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#crm-img {
  align-items: center;
  height: auto;
}

#crm-img img {
  border-radius: 5%;
}

#description {
  margin-left: 20px;
  align-items: flex-start;
}

#description p {
  font-size: 1.5vw;
}

#trust {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

#trust h2 {
  font-size: 3vw;
  margin-bottom: 50px;
}

#clients {
  display: flex;
  justify-content: center;
  align-items: center;
}

#clients img {
  height: 15vh;
  opacity: 0.5;
  margin: 0 5vw;
}

#clients img:hover {
  opacity: 1;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 300px;
  width: 100%;
  margin-top: 20px;
  background: linear-gradient(180deg, #ffffff 0%, #647dec 100%), #00c3fd;
}

footer a {
  text-decoration: none;
  color: var(--grey);
  margin-top: 10px;
}

#menu-container {
  width: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.menu {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#logo-footer {
  display: flex;
  align-items: center;
  font-size: 1.4vw;
  margin-bottom: 1vh;
}

/* ABOUT page styling */
#container {
  width: 100%;
  height: auto;
}

#gallery-wrapper {
  width: 100%;
  max-width: 340px;
  margin: 0 auto;
  height: auto;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.gallery-item:not(:last-of-type) {
  margin-bottom: 40px;
}

.gallery-img {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.item-about {
  margin: 0;
  padding: 8px;
  background: var(--lavender);
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-about a {
  text-decoration: none;
  color: white;
}

/* responsive styles for the about page */
@media screen and (min-width: 769px) {
  #gallery-wrapper {
    max-width: 1240px;
  }

  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .gallery-item {
    padding: 20px;
  }

  .gallery-img {
    min-width: 350px;
    max-width: 350px;
  }
}

/* PRICES page styling */
#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}

.btn-price {
  margin-top: 5vh;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.3vw;
  text-decoration: none;
  color: white;
  background: var(--purple);
  text-transform: uppercase;
  border: 2px solid var(--purple);
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  display: inline-block;
}

.card_content h2 {
  line-height: 2;
  color: var(--lavender);
}

.card_content p {
  font-size: 0.875em;
  color: var(--grey);
}

.card_image img {
  max-width: 100%;
  height: auto;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
  cursor: pointer;
}

.cards_item {
  display: flex;
  margin-top: 0;
  padding: 0 1em 2em;

  /* > 640px, 2 items/row */
  @media screen and (min-width: 42em) and (max-width: 60em) {
    width: 50%;
    .no-flexbox &:nth-child(2n + 1) {
      clear: both;
    }
  }

  /* > 960px, 3 items/row */
  @media screen and (min-width: 60em) {
    width: 33.3333%;
    .no-flexbox &:nth-child(3n + 1) {
      clear: both;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
}

.card_image {
  width: 100%;
  border-radius: 5px;
}

.card_content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  margin-top: 0;
  padding: 1.5em;
}

.card_content ul {
  line-height: 3;
}

/* PRODUCTS page styling */

#intro p {
  padding-top: 40px;
}

.prod-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 45vh;
}

.prod {
  width: 400px;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.prod-header-one {
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: var(--lavender);
  padding: 5px 10px;
}

.prod-header-two {
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: var(--purple);
  padding: 5px 10px;
}

.prod-header-three {
  text-align: center;
  font-weight: 600;
  color: white;
  background-color: var(--softgrey);
  padding: 5px 10px;
}

.prod-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: whitesmoke;
}

#icon {
  font-size: 30px;
  color: var(--grey);
  margin-bottom: 8px;
}

.prod-description {
  text-align: center;
}
