#sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#sign-up-container {
  position: fixed;
  top: calc(100% / 2 - 112px);
  left: calc(100% / 2 - 206px);
}

#sign-up-container h1 {
  margin-bottom: 10px;
}

#wrapper-sign-up {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

#wrapper-sign-up input,
#wrapper-sign-up select {
  padding: 10px;
  border: 1px solid var(--purple);
  border-radius: 5px;
}

#btn-sign-up {
  margin: 10px 0;
  width: 100%;
  height: 45px;
  background: var(--purple);
  color: white;
  text-transform: uppercase;
  border-radius: 2px;
  border: 1px solid white;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

#btn-sign-up:hover {
  background: white;
  color: var(--purple);
  border: 1px solid var(--purple);
  cursor: pointer;
}
