{{> landing_nav}}

<div id="intro">
    <div>
        <h1>Building great customer relationships is just a step away</h1>
    </div>

    <div>
        <a class="btn-price" href="/signup">Register here for a 14 days free trial</a>
    </div>
</div>

<ul class="cards">

    <li class="cards_item">
        <div class="card">

            <div class="card_image">
                <img src="//placehold.it/300x200/b1aeae&text=%20" />
            </div>

            <div class="card_content">
                <h2>Basic</h2>
                <h2>12€ </h2>
                <p>per user per month</p>
                <ul>
                    <li>Scoring Rules</li>
                    <li>Workflows</li>
                    <li>Multiple Pipelines</li>
                    <li>Mass Email</li>
                    <li>Custom Dashboards</li>
                </ul>
            </div>
        </div>
    </li>


    <li class="cards_item">
        <div class="card">

            <div class="card_image">
                <img src="//placehold.it/300x200/667cec&text=%20" />
            </div>

            <div class="card_content">
                <h2>Professional</h2>
                <h2>20€ </h2>
                <p>per user per month</p>
                <ul>
                    <li>SalesSignals</li>
                    <li>Blueprint</li>
                    <li>Web-to-Case Forms</li>
                    <li>Validation Rules</li>
                    <li>Inventory Management</li>
                </ul>
            </div>

        </div>
    </li>


    <li class="cards_item">
        <div class="card">

            <div class="card_image">
                <img src="//placehold.it/300x200/262975&text=%20" />
            </div>

            <div class="card_content">
                <h2>Company</h2>
                <h2>35€ </h2>
                <p>per user per month</p>
                <ul>
                    <li>Zia AI</li>
                    <li>CommandCenter</li>
                    <li>Canvas</li>
                    <li>Multi-user Portals</li>
                    <li>Advanced Customization</li>
                </ul>
            </div>

        </div>
    </li>

</ul>

{{> footer}}