{{> landing_nav}}

<div id="intro">
    <div>
        <h1>Delight your customers and win them for life</h1>
    </div>
    <div>
        <p>Looking for Omnichannel, Bots, and Self-service solutions for customer service? We've got you covered!</p>
    </div>
</div>

<div class="prod-container">

    <div class="prod">
        <div class="prod-header-one">CRM</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-users"></i>
            <div class="prod-description">The complete CRM platform</div>
        </div>
    </div>

    <div class="prod">
        <div class="prod-header-two">SaleIQ</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-star"></i>
            <div class="prod-description">Convert website visitors into customers</div>
        </div>
    </div>

    <div class="prod">
        <div class="prod-header-three">Desk</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-hand-holding-heart"></i>
            <div class="prod-description">Put your customer service at the heart of your company</div>
        </div>
    </div>

    <div class="prod">
        <div class="prod-header-one">SalesInbox</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-envelope-open-text"></i>
            <div class="prod-description">Email for salespeople</div>
        </div>
    </div>

    <div class="prod">
        <div class="prod-header-two">Bigin</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-store"></i>
            <div class="prod-description">Pipeline-centric CRM for small businesses</div>
        </div>
    </div>

    <div class="prod">
        <div class="prod-header-three">Booking</div>
        <div class="prod-main">
            <i id="icon" class="fas fa-user-clock"></i>
            <div class="prod-description">Find the perfect time with your customers</div>
        </div>
    </div>
</div>

{{> footer}}